APP_NAME="F.I.G - Funcionamiento Íntegro Gastronómico"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Santiago
APP_URL=http://localhost:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES

# Configuración de Base de Datos (Supabase PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=db.xxxx.supabase.co
DB_PORT=5432       # Use 6543 para PgBouncer con Transacciones
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=your-super-strong-db-password
DB_SSLMODE=require
DB_EMULATE_PREPARES=true # Requerido si se conecta en puerto 6543 (PgBouncer)

# Integración Supabase API (Si aplica)
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6Ip...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5c...
SUPABASE_JWT_SECRET=your-supabase-jwt-secret # Clave de firma para tokens Auth

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
